
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ricardo Montecinos</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/public/css/styles.css">
    
    <link rel="stylesheet" href="/public/css/vendor.css">

    <!-- script
    ================================================== -->
    <script defer src="/public/js/vendor/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">

</head>

<body id="top" class="ss-preload">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="row s-header__nav-wrap">
            <nav class="s-header__nav">
                <ul>
                    <li class="current"><a class="smoothscroll" href="#hero">Home</a></li>
                    <li><a class="smoothscroll" href="#about">About</a></li>
                    <li><a class="smoothscroll" href="#resume">Resume</a></li>
                    <li><a class="smoothscroll" href="#portfolio">Works</a></li>
                    
                    <li><a class="smoothscroll" href="#contact">Say Hello</a></li>
                    <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
                    <li><a class="smoothscroll" href="/crear">Register</a></li>
                </ul>
            </nav>
        </div> <!-- end row -->
        
        <a class="s-header__menu-toggle" href="#0" title="Menu">
            <span class="s-header__menu-icon"></span>
        </a>
    </header> <!-- end s-header -->


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">

        <div class="s-hero__bg rellax" data-rellax-speed="-7"></div>

        <div class="row s-hero__content">
            <div class="column">

                <div class="s-hero__content-about">

                    <h1>I'm Ricardo Montecinos.</h1>

                    <h3>
                        I'm an aspiring <span>DevOps engineer</span> and <span>sysadmin</span> with a strong passion for learning and building reliable systems. Based in Santiago, I've dedicated my time to studying and mastering key skills in automation, infrastructure, and cloud technologies. 
                        <a class="smoothscroll" href="#about">Scroll down</a> to learn more <a class="smoothscroll" href="#about">about me</a>.
                    </h3>
                    
                    

                    <div class="s-hero__content-social">
                        
                        
                        <a href="https://github.com/xSpookyDev"><i class="fab fa-github" aria-hidden="true"></i></a>
                        
                        <a href="https://www.linkedin.com/in/ricardo-montecinos-b51328244/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                </div> <!-- end s-hero__content-about -->

            </div>
        </div> <!-- s-hero__content -->

        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll">
                <span class="scroll-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:"><path d="M18.707 12.707L17.293 11.293 13 15.586 13 6 11 6 11 15.586 6.707 11.293 5.293 12.707 12 19.414z"></path></svg>
                </span>
                <span class="scroll-text">Scroll Down</span>
            </a>
        </div> <!-- s-hero__scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row">
            <div class="column large-3 tab-12">
                <img class="s-about__pic" src="/public/images/avatars/user-06.jpg" alt="">
            </div>
            <div class="column large-9 tab-12 s-about__content">
                <h3>About Me</h3>
                <p>
                    Hi! My name is Ricardo, and I am an aspiring DevOps engineer and sysadmin passionate about building efficient, scalable, and reliable systems. Over the past few years, I’ve immersed myself in learning modern technologies like Docker, Kubernetes, AWS, Azure, and automation tools such as Ansible and Terraform.
                </p>
                <p>
                    Though I am at the beginning of my professional journey, I am committed to continuous learning and enjoy tackling complex problems. My focus is on understanding the principles of CI/CD pipelines, infrastructure as code, and cloud computing to help organizations streamline workflows and improve operations.
                </p>
                <p>
                    Outside of technology, I enjoy watching soccer, listening to music, and playing with my dogs. I believe that curiosity and dedication are the keys to success, and I’m excited to see where this journey takes me.
                </p>
                

                <hr>

                <div class="row s-about__content-bottom">
                    <div class="column w-1000-stack">
                        <h3>Contact Details</h3>
    
                        <p>
                        Ricardo Montecinos <br>
                        Metropolitan Region <br>
                        La florida <br>
                        <a href="tel:+1975432345">+569 36935789</a> <br>
                        <a href="mailto:#0">ricardo13work@gmail.com</a>
                        </p>
                        
                    </div>
                    <div class="column w-1000-stack">
                        <a href="/public/docs/CV-2024..pdf" download class="btn btn--download">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:"><path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z"></path>  <path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z"></path></svg>
                            Download CV
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-about -->


    <!-- resume
    ================================================== -->
    <section id="resume" class="s-resume target-section">
        
        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Career</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Clinicaoas</h4>
                        <p class="resume-block__header-meta">
                            <span>Receptionist/IT Support</span> 
                            <span class="resume-block__header-date">
                                2023/2024
                            </span>
                        </p>
                    </div>

                    <p>
                        I was responsible for updating the hardware and software of the clinic's computers and repairing printers. I also managed the cash register, the clinic's WhatsApp account, and focused on attracting new patients. Additionally, I worked as a receptionist, scheduling appointments through the Dentalink platform. Lastly, I managed the clinic's inventory using Excel.
                    </p>

                </div> <!-- end resume-block -->

                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Hospital San Jose</h4>
                        <p class="resume-block__header-meta">
                            <span>Administrative</span> 
                            <span class="resume-block__header-date">
                                2022 - 2023
                            </span>
                        </p>
                    </div>

                    <p>
                        I assisted those in charge of discharging patients from the non-GES waiting list and updated the Excel sheet of patients attended to at the hospital. Additionally, I called patients who were possibly discharged to proceed with their discharge and managed the discharge of deceased patients from the non-GES list through the government platform.
                    </p>

                </div> <!-- end resume-block -->
            </div>
        </div> <!-- s-resume__section -->


        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Education</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Instituto Profesional San Sebastián</h4>
                        <p class="resume-block__header-meta">
                            <span>Technician in Programming and Analysis</span> 
                            <span class="resume-block__header-date">
                               2024
                            </span>
                        </p>
                    </div>

                    <p>
                        During my studies at Instituto Profesional San Sebastián, I learned to program in Java and developed analytical thinking skills, which have enabled me to approach problems in a structured way. I also gained experience with Linux, managing operating systems and developing in production environments. Additionally, I worked with Oracle, managing databases and optimizing queries. These skills have prepared me to tackle technological challenges in programming and systems administration.
                    </p>

                </div> <!-- end resume-block -->

                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Talento Digital</h4>
                        <p class="resume-block__header-meta">
                            <span>Bootcamp Full Stack Java</span> 
                            <span class="resume-block__header-date">
                                2024
                            </span>
                        </p>
                    </div>

                    <p>
                        During the Java bootcamp, I acquired fundamental and practical knowledge in several key technologies. I learned Java in-depth, developing skills to create robust and scalable applications. Additionally, I worked with JavaScript, which allowed me to develop dynamic applications for both the frontend and backend. I also gained experience in managing PostgreSQL, learning to handle databases, perform complex queries, and optimize their performance. Finally, I deepened my knowledge of Spring Boot, where I developed modern and secure web applications using best practices in agile development and microservices-based architectures. This bootcamp provided me with a comprehensive understanding of full-stack development, preparing me to tackle technical challenges in web application development.
                    </p>

                </div> <!-- end resume-block -->
            </div>
        </div> <!-- s-resume__section -->


        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Skills</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <p>
                        Throughout my training and projects, I have gained practical experience with various key technologies. I have worked with Java, developing robust applications, and with JavaScript, creating solutions for both the frontend and backend. Additionally, I have managed databases with PostgreSQL, optimizing queries and improving performance. In web development, I have used Spring Boot to create secure and well-structured applications, implementing agile practices and microservices-based architectures. This experience has provided me with a solid technical foundation and the ability to quickly adapt to new tools and challenges.
                    </p>

                    <ul class="skill-bars-fat">
                        <li>
                        <div class="progress percent75"></div>
                        <strong>Web development</strong>
                        </li>
                        <li>
                        <div class="progress percent55"></div>
                        <strong>Back End</strong>
                        </li>
                        <li>
                        <div class="progress percent65"></div>
                        <strong>Cloud</strong>
                        </li>
                        <li>
                        <div class="progress percent55"></div>
                        <strong>System</strong>
                        </li>
                        <li>
                        <div class="progress percent55"></div>
                        <strong>BBDD</strong>
                        </li>
                        <li>
                        <div class="progress percent60"></div>
                        <strong>CI/CD</strong>
                        </li>
                    </ul>

                </div> <!-- end resume-block -->

            </div>
        </div> <!-- s-resume__section -->

    </section> <!-- end s-resume -->


    <!-- portfolio
    ================================================== -->
    <section id="portfolio" class="s-portfolio target-section">

        <div class="row s-portfolio__header">
            <div class="column large-12">
                <h3>A Few Of My Latest Credentials</h3>
            </div>
        </div>

        <div class="row collapse block-large-1-4 block-medium-1-3 block-tab-1-2 block-500-stack folio-list">

            <div class="column folio-item">
                <a href="#modal-01" class="folio-item__thumb">
                    <img src="/public/images/portfolio/droplet.jpg" 
                         srcset="/public/images/portfolio/droplet.jpg 1x, 
                         /public/images/portfolio/droplet@2x.jpg 2x" alt="">
                </a>
            </div> <!-- end folio-item -->

            <div class="column folio-item">
                <a href="#modal-02" class="folio-item__thumb">
                    <img src="/public/images/portfolio/lamp.jpg" 
                         srcset="/public/images/portfolio/lamp.jpg 1x, 
                         /public/images/portfolio/lamp@2x.jpg 2x" alt="">
                </a>
            </div> <!-- end folio-item -->

            <div class="column folio-item">
                <a href="#modal-03" class="folio-item__thumb">
                    <img src="/public/images/portfolio/minimalismo.jpg" 
                         srcset="/public/images/portfolio/minimalismo.jpg 1x, 
                         /public/images/portfolio/minimalismo@2x.jpg 2x" alt="">
                </a>
            </div> <!-- end folio-item -->

            <div class="column folio-item">
                <a href="#modal-04" class="folio-item__thumb">
                    <img src="/public/images/portfolio/shutterbug.jpg" 
                         srcset="/public/images/portfolio/shutterbug.jpg 1x, 
                         /public/images/portfolio/shutterbug@2x.jpg 2x" alt="">
                </a>
            </div> <!-- end folio-item -->

            <div class="column folio-item">
                <a href="#modal-05" class="folio-item__thumb">
                    <img src="/public/images/portfolio/fuji.jpg" 
                         srcset="/public/images/portfolio/fuji.jpg 1x, 
                         /public/images/portfolio/fuji@2x.jpg 2x" alt="">
                </a>
            </div> <!-- end folio-item -->

            <div class="column folio-item">
                <a href="#modal-06" class="folio-item__thumb">
                    <img src="/public/images/portfolio/skaterboy.jpg" 
                         srcset="/public/images/portfolio/skaterboy.jpg 1x, 
                         /public/images/portfolio/skaterboy@2x.jpg 2x" alt="">
                </a>
            </div>

            <div class="column folio-item">
                <a href="#modal-07" class="folio-item__thumb">
                    <img src="/public/images/portfolio/rucksack.jpg" 
                         srcset="/public/images/portfolio/rucksack.jpg 1x, 
                         /public/images/portfolio/rucksack@2x.jpg 2x" alt="">
                </a>
            </div> 
                <!--
            <div class="column folio-item">
                <a href="#modal-08" class="folio-item__thumb">
                    <img src="images/portfolio/sanddunes.jpg" 
                         srcset="images/portfolio/sanddunes.jpg 1x, 
                                 images/portfolio/sanddunes@2x.jpg 2x" alt="">
                </a>
            </div> end folio-item -->

        </div> <!-- end folio-list -->


        <!-- Modal Templates Popup
        =========================================================== -->
        <div id="modal-01" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-droplet.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>Networking Basics</h5>
                    <p>Cisco verifies the earner of this badge successfully completed the Networking Basics course and achieved this student level credential. Earner has knowledge of the types of networks, how they work, how devices send and receive data, the types of network cabling, how IP addresses find information on the Internet, how transport and applications operate, and has practiced building a home wireless network. Participated in up to 13 Cisco Packet Tracer activities.</p>
                    <ul class="modal-popup__cat">
                        <li>Network</li>
                        <li>Protocols Standards</li>
                    </ul>
                </div>
    
                <a href="https://www.credly.com/badges/253f33e6-0101-43bd-b5d1-02aa8282cd61/public_url" class="modal-popup__details">link</a>
            </div>
        </div> <!-- end modal -->

        <div id="modal-02" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-lamp.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>JAVA TRAINEE</h5>
                    <p>The student passed the required modules and final project to become a Full Stack Java Developer Trainee. They will program in both the Frontend and Backend layers and are familiar with the entire software or web development chain. They are proficient in various languages and technologies such as JavaScript, web architecture, HTML, and CSS. This profile will allow them to access national and international organizations, IT outsourcing, or project teams for state or private institutions.</p>
                    <ul class="modal-popup__cat">
                        <li>Backend</li>
                        <li>Full Stack</li>
                    </ul>
                </div>
    
                <a href="https://www.acreditta.com/credential/4bbeaa93-362f-4556-b540-3c336e6d46c1?utm_source=copy&resource_type=badge&resource=4bbeaa93-362f-4556-b540-3c336e6d46c1" class="modal-popup__details">Link</a>
            </div>
        </div> <!-- end modal -->

        <div id="modal-03" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-minimalismo.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>Scrum</h5>
                    <p>Scrum Foundation Professional Certification holders have developed entry-level skills in Scrum that endorse their fundamental knowledge in this framework. They have demonstrated an understanding of the empirical Scrum pillars of transparency, inspection, and adaptation. Their primary focus is on the work of Sprint to make the best possible progress toward these goals.</p>
                    <ul class="modal-popup__cat">
                        <li>Agile</li>
                        <li>Scrum</li>
                    </ul>
                </div>
    
                <a href="https://www.credly.com/badges/0f3a6917-434e-403b-90df-f30a692b6283/public_url" class="modal-popup__details">Link</a>
            </div>
        </div> <!-- end modal -->

        <div id="modal-04" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-shutterbug.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>GCP Foundation</h5>
                    <p>I earned this badge by completing the training program, gaining a solid foundation in Google Cloud Platform (GCP) services and tools. I learned to perform essential tasks related to data management, application development, machine learning, and artificial intelligence in the cloud. This achievement demonstrates my ability to work with GCP in technical and development contexts.</p>
                    <ul class="modal-popup__cat">
                        <li>Cloud</li>
                        <li>GCP</li>
                    </ul>
                </div>
    
                <a href="https://www.cloudskillsboost.google/public_profiles/c5ed6ace-b21b-4a72-8936-3f47bceb4220/badges/4741365" class="modal-popup__details">link</a>
            </div>
        </div> <!-- end modal -->

        <div id="modal-05" hidden>
            <div class="modal-popup">

                <img src="/public/images/portfolio/gallery/g-fuji.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>Lifelong Learning</h5>
                    <p>This badge has been issued to the candidates who have demonstrated their unwavering commitment to lifelong learning, which is vitally important in today's ever-changing and expanding digital world. It also identifies the qualities of an open, disciplined, and constantly evolving mind, capable of using and contributing knowledge to develop a more equal and better world.</p>
                    <ul class="modal-popup__cat">
                        <li>Career Devekioment</li>
                        <li>Continuing Education</li>
                    </ul>
                </div>
    
                <a href="https://www.credly.com/badges/a7b9edea-f77a-4820-8c06-1fa41781887f/public_url" class="modal-popup__details">Link</a>
            </div>
        </div> <!-- end modal -->

        <div id="modal-06" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-skaterboy.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>Diseño UX/UI</h5>
                    <p>Those who earn the Google UX Design Certificate have completed seven courses developed by Google, featuring hands-on, practice-based assessments designed to prepare them for entry-level roles in UX design. They are capable of completing the design process from start to finish: empathizing with users, defining their pain points, brainstorming design solutions, creating wireframes and prototypes, and testing designs to gather feedback.</p>
                    <ul class="modal-popup__cat">
                        <li>UX/UI</li>
                        <li>Product Design</li>
                    </ul>
                </div>
    
                <a href="https://www.credly.com/badges/99ab65ff-7847-4728-b429-a7169ec493ea/public_url" class="modal-popup__details">Link</a>
            </div>
        </div> 
        <div id="modal-07" hidden>
            <div class="modal-popup">
                <img src="/public/images/portfolio/gallery/g-rucksack.jpg" alt="" />
    
                <div class="modal-popup__desc">
                    <h5>AWS Foundation</h5>
                    <p>I earned this badge after completing a training program, gaining a comprehensive understanding of Amazon Web Services (AWS) services and tools. I learned to execute crucial tasks related to data management, application development, machine learning, and artificial intelligence in the cloud. This accomplishment highlights my proficiency in working with AWS in both technical and development settings.</p>
                    <ul class="modal-popup__cat">
                        <li>Cloud</li>
                        <li>AWS</li>
                    </ul>
                </div>
    
                <a href="https://www.credly.com/badges/55c4b8fb-4c26-471b-b0db-4e83658f39b6/public_url" class="modal-popup__details">Link </a>
            </div>
        </div>  
        
        
    

    </section> <!-- end s-portfolio -->


    


    


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="row s-contact__header">
            <div class="column large-12">
                <h3 class="section-header-allcaps">Say Hello</h3>
            </div>
        </div>

        <div class="row s-contact__content">

            <div class="column large-7 medium-12">

                <h4 class="huge-text">
                Have a new project in mind? Let's collaborate and build something awesome. 
                Let's turn that idea to an even greater product :)
                </h4>

            </div>
            

            <div class="column large-4 medium-12">

                <div class="row contact-infos">
                    <div class="column large-12 medium-6 tab-12">
                        <div class="contact-block">
                            <h5 class="contact-block__header">
                                Email
                            </h5>
                            <p class="contact-block__content">
                                <a class="mailtoui" href="mailto:ricardo13work@gmail.com">ricardo13work@gmail.com</a>
                            </p>
                        </div> <!-- end contact-block -->
                    </div>
                    <div class="column large-12 medium-6 tab-12">
                        <div class="contact-block">
                            <h5 class="contact-block__header">
                                Phone
                            </h5>
                            <p class="contact-block__content">
                                <a href="tel:+1975432345">+56 9 36935789</a>
                            </p>
                        </div> <!-- end contact-block -->
                    </div>

                    <div class="column large-12">
                        <a href="mailto:ricardo13work@gmail.com" class="mailtoui btn btn--primary h-full-width">Let's Talk</a>
                    </div>
                </div> <!-- end contact-infos -->

            </div>
        </div> <!-- s-contact__content -->

    </section> <!-- end s-contact -->

    <!-- Start send email-->
<section id="contact" class="s-contact target-section" style="background-color:var(--color-gray-16); color: #fff;">
    <div class="row s-contact__header">
        <div class="column large-12">
            <h3 class="section-header-allcaps" style="color: var(--color-2-lighter);">Send Email</h3>
        </div>
    </div>
    <!-- Modal start-->
    <div class="alert-box alert-box--success" id="successModal" style="display: none;">
        <p>Your message has been sent successfully.</p>
        <span class="alert-box__close">&times;</span>
    </div>
    <!--Modal end-->
    <div class="row s-contact__content">
        <div class="column large-7 medium-12">
            <!-- Formulario -->
            <form action="#hero" method="POST" class="contact-form">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="6" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn--primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- end send email-->

<!-- testimonials
================================================== -->
<section id="testimonials" class="s-testimonials target-section">

    <div class="s-testimonials__bg"></div>

    <div class="row s-testimonials__header">
        <div class="column large-12">
            <h3>Hear What Our Clients Say</h3>
        </div>
    </div>

    <div class="row s-testimonials__content">

        <div class="column">

            <div class="swiper-container testimonial-slider">

                <div class="swiper-wrapper">

                    {{range .Usuarios}}
                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>{{.Nombre}} {{.Apellido}}</strong>
                                <span>Client</span>
                            </cite>
                        </div>
                        <p>
                            {{.Comentario}}
                        </p>
                    </div> <!-- end testimonial-slider__slide -->
                    {{end}}

                </div> <!-- end testimonial slider swiper-wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end swiper-container -->

        </div> <!-- end column -->

    </div> <!-- end row -->

</section> <!-- end s-testimonials -->

    
    

    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <li><a href="https://github.com/xSpookyDev"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ricardo-montecinos-b51328244/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
               
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
             </a>
        </div> <!-- end ss-go-top -->
    </footer>

<!-- Modal de éxito -->

    <!-- Java Script
    ================================================== -->
    <script src="/public/js/plugins.js"></script>
    <script src="/public/js/main.js"></script>
    

</body>

</html>